h1,h2,h3,h4,h5{
    font-family: "Young Serif", serif;
}
h1{
    color: var(--red);
    font-size:150px;
}
p{
    font-family: "Montserrat", sans-serif;
}

:root{
    --red: rgb(196, 0, 0);
    --white: rgb(254,254,254);
    --grey: rgb(133, 133, 133);    
}











.nav-custom{
    position: fixed;
    top:0;
    background: var(--white);
    z-index: 999;
    width:100%;
    height: 80px;
    transition:1s;
}
.nav-custom2{
    background: rgb(133, 133, 133);
}


.nav-link:hover{
    border-bottom: 3px solid var(--red);
    /* background: var(--red); */
}
.left-side:hover{

}
.logo{
    width:80px;
}






/* Lista destra navbar*/
.search-bar{
    height: 30px;
}

/* Header */
.row-custom{
    height: 100vh;
    background:  url("./media/img-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}

/* From Uiverse.io by Cornerstone-04 */ 
.box {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: white;
  text-transform: uppercase;
  font-weight: 900;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
  border-color: var(--red);
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: var(--red);
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

button {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}


/* First section */
.first-section{
    height: 40vh;
}
.card{
    width:250px;
    height: 100px;
    padding: 0px;
}

/* .slide1{
    height:600px;
    width:100%;

} */
.text-card{
    background: white;
    border:1px solid #d3d3d3;
    padding:2px;
    width:70px;
    text-decoration: none;
    color:black;
    font-size: 14px;
    margin: -40px;
    margin-left: 10px;
    font-weight: bold;
}
.container-custom{
    width: 80vw;
}

