h1,h2,h3,h4,h5{
    font-family: "Young Serif", serif;
}
h1{
    color: var(--red);
    font-size:150px;
}
p{
    font-family: "Montserrat", sans-serif;
}

:root{
    --red: rgb(196, 0, 0);
    --white: rgb(254,254,254);
    --grey: rgb(133, 133, 133);    
}




.nav-custom{
    position: fixed;
    top:0;
    background: var(--white);
    z-index: 999;
    width:100%;
    height: 80px;
    transition:1s;
}
.nav-custom2{
    background: rgb(133, 133, 133);
}


.nav-link:hover{
    border-bottom: 3px solid var(--red);
    /* background: var(--red); */
}

.logo{
    width:150px;
}






/* Lista destra navbar*/
.search-bar{
    height: 30px;
}

/* Header */
.row-custom{
    height: 100vh;
    background:  url("./media/img-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80px;
}

/* From Uiverse.io by Cornerstone-04 */ 
.box {
  width: 140px;
  height: auto;
  float: left;
  transition: .5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: white;
  text-transform: uppercase;
  font-weight: 900;
}

.box:before {
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
  border-color: var(--red);
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .3s;
}

.box:hover:after {
  border-color: var(--red);
  height: 100%;
  transform: translateX(0);
  transition: .3s transform linear, .3s height linear .5s;
}

button {
  color: black;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}


/* First section */
.first-section{
    height: 50vh;
}
.cardsection1{
    width:250px;
    height: 100px;
    padding: 0px;
}



.text-card{
    background: white;
    border:1px solid #d3d3d3;
    padding:2px;
    width:70px;
    text-decoration: none;
    color:black;
    font-size: 14px;
    margin: -40px;
    margin-left: 10px;
    font-weight: bold;
}
.container-custom{
    width: 80vw;
}


/* Second Section */

.second-section{
    height: 70vh;
    padding-top: 150px;

}
.img-carousel{
    width:100%;
}

.carousel {
    width: 100%;
    height: 70vh;
    
}

.carousel-inner, .carousel-item {
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    
}

/* Button open source */
/* From Uiverse.io by alexmaracinaru */ 
.cta {
  border: none;
  background: none;
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: white;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#arrow-horizontal path {
    fill: white;
}


/* Third section */

.row-third-section{
  height: 50vw;
}

.card-third-section{
    height:400px;
    width:100%;
    border: 1px solid #d3d3d3;
    background: rgb(179,179,179);

}

.container-card{
  width: 20vw;
}
.card-third-section:hover{
  border:1px solid black;
}

.card1section{
  height:390px;
  width:100%;
}
.img3-card, .img4-card{
  width:90%;

}


/* From Uiverse.io by JassiSingh08 */ 
.button-personal {
  font-size: 30px;
  background-color: white;
  color: black;
  width: 50px;
  height: 50px;
  opacity: 0.75;
  border: 1px solid black;
  cursor: pointer;

}

/* Fine della pagina */
.footer-custom{
  height: 55vh;
  background: var(--grey);
}

.footer-list, .list-button{
  list-style-type: none;
}


/* Pagina shop */

.form-check-input:checked{
  background:var(--grey);
  border: 1px solid black;
}

.card-shop:hover{
  border: 1px solid black;
}
.img-filter{
  width: 4%;
}

/* Pagina reparto donna */
.row-header{
  height: 85vh;
  background: url("./media/repartodonna.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.titleWomanSection{
  width: 13%;
  height: 50px;
}
.titleWomanSection1{
  width:20%;
}

/* First section */

.btn-woman-section{
  border: 1px solid #d3d3d3;
  width:200px;
  height:40px;
}

.card-body{
  border-radius: 0;
}

#collapseCategorie, #collapsePrezzo, #collapseParola, #collapseTaglie {
    position: absolute;
    z-index: 999;
    width: 200px;
    top: 100%;

  }

#collapseCategorie .card, #collapsePrezzo .card, #collapseParola .card, #collapseTaglie {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 

#collapsePrezzo{
  margin-top: -40px;
  margin-left: 4px;
}

#collapseCategorie{
  margin-top: -40px;
  margin-left: 4px;
}

#collapseParola{
  margin-top: -40px;
  margin-left: 4px;
}

/* filtro taglie */

.btn-size{
  width:10px;
  height:30px;

}
#collapseTaglie{
  margin-top: -40px;
  margin-left: 17px;
}

/* Reparto uomo */
.row-men-section{
  background: url("/media/headermensection.jpg");
  height: 85vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.btn-men{
  border: 1px solid #d3d3d3;
  width:200px;
  height:40px;
}