h1,h2,h3,h4,h5{
    font-family: "Young Serif", serif;
}
p{
    font-family: "Montserrat", sans-serif;
}

:root{
    --red: rgb(196, 0, 0);
    --white: rgb(254,254,254);
    --grey: rgb(133, 133, 133);    
}











.nav-custom{
    position: fixed;
    top:0;
    background: var(--white);
    z-index: 999;
    width:100%;
    height: 80px;
}
.nav-custom2{
    background: rgb(133, 133, 133);
}


.nav-link:hover{
    /* border-bottom: 3px solid var(--red); */
    background: var(--red);
}
.left-side:hover{

}
.logo{
    width:80px;
}






/* Lista destra navbar*/
.search-bar{
    height: 30px;
}

/* Header */
.row-custom{
    height: 100vh;
    background:  url("./media/img-header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}